																																				# Visual Studio / VS Code
.vs/
.vscode/

# CMake build output
out/
build/
cmake-build-*/
/export/

# Compiled binaries
*.exe
*.dll
*.pdb
*.obj
*.lib
*.ilk

# OS junk
.DS_Store
Thumbs.db
